* {
    margin: 0; padding: 0; border: 0; box-sizing: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #b9baad;
    opacity: 1;
    background-image:  radial-gradient(#878229 2px, transparent 2px), radial-gradient(#878229 2px, #b9baad 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

p, span {
    text-align: justify;
    padding-top: 20px;
    font-size: 18px;
}

span {
    padding-left: 60px;
}

a {
    color: rgb(238, 255, 0);
}

.title {
    background-color: rgb(53, 69, 53);
    padding: 10px 0;
}

.title h1{
    color: rgb(224, 232, 124);
    text-align: center;
}

.page {
    padding: 10px;
}

.page h1 {
    font-size:40px;
    text-align: center;
    color: rgb(53, 69, 53);
}

.page section{
    border: 2px solid black;
    position: fixed;
    right: 20px;
    left: 20px;
    top: 67.6px;
    bottom: 41.5px;
    padding: 20px 70px;
}

.footer{
    background-color: rgb(53, 69, 53);
    color: rgb(224, 232, 124);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-right: 20px;
}

.footer div {
    padding-right: 20px;
}

.footer h3 {
    width: auto;
    position: relative;
    bottom: 0px;
    right: 0x;
    text-align: right;
}